<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="min.push.entity.Param" alias="Param" />
		<typeAlias type="min.push.entity.App" alias="App" />
		<typeAlias type="min.push.entity.Soft" alias="Soft" />
		<typeAlias type="min.push.entity.Req" alias="Req" />
		<typeAlias type="min.push.entity.Notice" alias="Notice" />
		<typeAlias type="min.push.entity.Actuser" alias="Actuser" />
	</typeAliases>
</configuration>